@{
}
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="modalLabel-1" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100" id="modalLabel-1">Logout</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Er du sikker på at du vil logge ud?</p>
            </div>
            <!--Modal buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fortryd</button>
                <form method="get" asp-page="/LoginPages/Logout">
                    <input type="submit" value="Bekræft" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>