@page
@model IndexModel
@using BankLib.Model;
@{
    ViewData["Title"] = "Home page";

    Employee? employee = null;
    Customer? customer = null;
    object? user = null;
    try
    {
        user = SessionHelper.Get<object>(user, HttpContext);
        if (user is not null)
        {
            if (user.ToString().Contains("AccessLevel"))
            {
                employee = SessionHelper.Get<Employee>(employee, HttpContext);
            }
            else
            {
                customer = SessionHelper.Get<Customer>(customer, HttpContext);
            }
        }
    }
    catch
    {

    }
    @if (employee is not null)
    {

        ViewData["SidebarVisible"] = true;

    }
    else if (customer is not null)
    {
        ViewData["SidebarVisibleCustomer"] = true;
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
