#Headline {
    text-decoration: none;
    color: black;
}

.custom-col {
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 7px;
    min-height: 100vh;
}

.searchbox {
    padding: 1px 2px 1px 2px !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
}

#cardtransfer {
    border: 2px solid #000000;
    border-radius: 7px;
}

#accountdropdownbtn {
    width: -webkit-fill-available;
    display:flex;
    justify-content:center;
}